/* stylesheet - 13.2 - Ayelet Danieli */

:root {
    --bgDark: #333;
    --bgDark1:#444;
    --bgLight: #555;
    --lightColor: #ffffff;
    --markColor: salmon;
    --clrCandyPink: #e7717d;
    --clrLavengerGray: #c2cad0;
    --clrGreenYellow: #afd275;
    --clrPasterBrown: #7e685a;
    --clrMocha: #c2b9b0;

  }

* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
.clr {
    clear: both;
}

body {
    font-family: "Nunito";
    line-height: 1.4em; 
    font-size: 1rem;
    color: var(--lightColor);
    /* height: 100vh; */

}

.site-root {
    /* height: 100%; */
    height: 100vh;
    background-size: cover;
}

a {
    text-decoration: none;
    color: var(--lightColor);
    cursor: pointer;
}


#navbar {
    background-color:var(--clrCandyPink);
    color:var(--lightColor);
    display: flex;
    align-items: flex-end;
}

#navbar a {
    color:var(--lightColor);
    font-size: 22px;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#navbar ul li a {
    padding: 0 20px;
    text-align: center;
    text-decoration: none;

}

#navbar ul li a:hover,
#navbar ul li a.current
{
    background-color: var(--clrGreenYellow);
    color:var(--clrPasterBrown);
}

.site-header {
    text-align: center;
    background-color: var(--clrCandyPink);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px; /* TBD */
}

.site-header .header-title {
   text-align: center;
   margin: auto 0;
}

.header-title h1 {
    font-weight: 900;
    font-size: 42px;
}

.header-title h3 {
    font-size: 24px;
}

.site-header > .header-title > h1,
.site-header > .header-title > h3 {
    line-height: 1.5;
}

.site-header .header-navbar {
   color: var(--clrGreenYellow);
}

/* ////////////////////////////////////////////////////////////////////////////////// */
    
.site-main {
    background: var(--clrMocha);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    height: 70%;

    padding: 0 20px; /* TBD */

}



.site-main>.main-img> img{
    width: 250px;
    min-width: 250px;
    height: auto;
    margin: auto;
    border-radius: 50%;
    box-shadow: var(--clrPasterBrown) 2px 10px 20px ;
}

.site-main>.main-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hello {
    font-size: 68px;
    line-height: 1.3em;
    padding: auto;
}

.intro {
    font-size: 36px;
    padding: auto;
    line-height: 1.1em;
}

.description {
    font-family: 'lora', serif;
}
.round-btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: none;
    margin: 10px;
    color: var(--lightColor);
    font-size: 20px;
    box-shadow: var(--clrPasterBrown) 2px 10px 20px ;


}
.round-btn:hover {
    box-shadow: var(--lightColor) 1px 5px 20px ;
}
.round-btn:active {
    box-shadow: none;
}
.round-btn>a{
    margin: 0;
}

.round-btn#btnResume {
    background-color: var(--clrGreenYellow);
}


.round-btn#btnProjects {
    background-color: var(--clrPasterBrown);
}


.round-btn#btnSkills {
    background-color: var(--clrCandyPink);
}

/* //////////////////////////////////////////////////////////////////////////////// */
.site-footer {
    background: var(--clrCandyPink);
}

.site-footer>ul {
    display: flex;
    justify-content: center;

}

.site-footer>ul>li {
    text-decoration: none;
    color: var(--lightColor);
    margin: 10px auto;
    list-style: none;
}

.site-footer > ul > li > a {
    margin: 0 5px;
}

