/* Ex 19.3 - Transitions - Ayelet Danieli */

:root {
  --boxDim: 500px;
  --btnW: 200px;
  --btnH: 80px;
  --btnMargin: 20px;
  --borderSz: 2px;
  --spanW: calc(var(--btnW) - 2 * var(--borderSz));
  --spanH: calc(var(--btnH) - 2 * var(--borderSz));
  --lineHeight: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 100vh;
}

.btn {
  position: relative;
  width: var(--btnW);

  height: var(--btnH);
  top: 0;
  left: 0;
  background: #fff;
  border: var(--borderSz) solid black;
  color: #000;
  margin: auto 0;
  padding: 30px 0;
  display: block;
}

.btn::before {
  content: "";
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 0;
}

/* ///////////////////////////////////////////// */
/* Translate X */

.btn-TX::before {
  content: "";
  position: absolute;
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  background-color: black;
  color: #fff;
  transform: scaleX(0);
  z-index: -10;

  transition: transform 1s ease-in-out;
  transform-origin: left;
}

.btn-TX:hover::before {
  transform: scaleX(1);
  background-attachment: white;
  color: black;
  z-index: -10;
}

.btn-TX {
  color: black;
  z-index: 10;
}

.btn-TX:hover {
  color: white;
}

/* ///////////////////////////////////////////// */
/* Translate Y */

.btn-TY::before {
  content: "Yay!";
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  background-color: red;
  transform: scaleY(0);
  transition: transform 1s ease-in-out;
  transform-origin: top;
}

.btn-TY:hover {
  color: rgba(255, 255, 255, 0);
}

.btn-TY:hover::before {
  content: "Yay!";
  transform: scaleY(1);
  color: white;
}

/* ///////////////////////////////////////// */
/* Rotate */

.btn-R::before {
  background-color: yellow;
  transform-origin: top left;
  transition: transform 1s ease-in-out;
  transform: rotate(-90deg);
  /* overflow: hidden; */
  z-index: -10;
}

.btn-R {
  z-index: 10;
  overflow: hidden;
}

.btn-R:hover::before {
  content: "";
  transform: rotate(0deg);
}

/* ///////////////////////////////////////////// */
/* Scale */

.btn-S::before {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  transition: transform 1s linear;
  transform: scale(3);
  z-index: -10;
}

.btn-S:hover {
color:transparent;
}

.btn-S {
  transition: color 1s ease-in-out;
  overflow: hidden;
}

.btn-S:hover::before {
  content: "Scale & Transition";
  color: rgba(255, 255, 255, 1);

  transform: scale(1);
  overflow: hidden;
  z-index: 10;
}

